body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Digispect corporate colors */
.bg-digi-primary {
    background-color: #607d8b;
}

.bg-digi-secondary {
    background-color: #f7f7f9;
}

.bg-digi-accent {
    background-color: #f7f7f9;
}


/*Styling for landing page jumbotron */
.bg {
    background: url('images/img_home_header.jpg') no-repeat center;
    position: fixed;
    width: 100%;
    background-size: 100% 100%;
    height: 500px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron, .jumbotron-fluid {
    margin-bottom: 0px;
    height: 500px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
}

.lead {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%
}


/*Font awesome icon colours for CRUD */
.fa-minus {
    color: red;
}

.fa-plus {
    color: green;
    cursor: pointer;
}

.fa-pencil {
    color: orange;
}

.fa-info {
    color: orange;
}

.selected {
    background-color: black;
    color: white;
    font-weight: bold;
}
