/* Profile */
.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/*Styling for landing page jumbotron */
.bg {
    background: url('images/img_home_header.jpg') no-repeat center;
    position: fixed;
    width: 100%;
    background-size: 100% 100%;
    height: 500px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron, .jumbotron-fluid {
    margin-bottom: 0px;
    height: 500px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
}

.lead {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%
}


/* CRUD CSS */
.error {
    color: red;
}

.selected {
    background-color: lightgray;
}

    .selected .row-options {
        visibility: visible
    }


tr td a, a:hover {
    color: black;
}

.row-options {
    visibility: hidden;
    color: gray;
    cursor: pointer;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd
}

/* Page Load Animation */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingDiv {
    display: none;
    text-align: center;
}