/* Custom Colours */
.bg-primary {
    background-color: #2C3E50 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #1a252f !important;
}

.bg-primary .navbar-nav .active > .nav-link {
    color: #18BC9C !important;
}

/* Profile */
.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/*Styling for landing page jumbotron */
.bg {
    background: url('images/img_home_header.jpg') no-repeat center;
    position: fixed;
    width: 100%;
    background-size: 100% 100%;
    height: 600px; /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron, .jumbotron-fluid {
    padding-top: 0px;
    margin-bottom: 0px;
    height: 600px;
    color: white;
    background: transparent;
}

/* Animate state between .navbar and .navbar-ontop */
.navbar {
    transition: background-color .5s ease-out;
}

.navbar-ontop {
    background-color: transparent !important;
}

.btn-outline-white {
    color: whitesmoke;
    background-color: transparent;
    background-image: none;
    border-color: whitesmoke;
}

    .btn-outline-white:hover {
        color: black;
        background-color: whitesmoke;
        border-color: whitesmoke;
    }

/* CRUD CSS */
.error {
    color: red;
}

.selected {
    background-color: lightgray;
}

    .selected .row-options {
        visibility: visible
    }


tr td a, a:hover {
    color: black;
}

.row-options {
    visibility: hidden;
    color: gray;
    cursor: pointer;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd
}


.new {
    color: cadetblue;
    font-size: small;
    padding-left: 0px;
}

.sort{
    cursor:pointer;
}

.arr-bread {
    background-color: transparent
}

.form-group.required .col-form-label:after {
    content: "*";
    color: red;
}

.panel_toolbox > li > a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

    .panel_toolbox > li > a:hover {
        text-decoration: none;
        color: black;
    }

.panel_toolbox > li {
    float: left;
    cursor: pointer;
}

.process {
    height: 20rem;
}

    .process h6 {
        padding-right: 2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .process:hover {
        cursor: pointer;
    }

/* Page Load Animation */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingDiv {
    display: none;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .hide {
        display: none;
    }
}