<!-- Breadcrumbs-->
<ol class="breadcrumb mb-2 arr-bread">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/#/departments">Departments</a>
    </li>
    <li class="breadcrumb-item active">Processes</li>
</ol>
<!-- Content-->
<div class="ml-3 mb-3">
    <h4 class="mb-3">{{department.name}}</h4>
    <div class="row">
        <div class="col-auto">
            <strong>Description:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <strong>Revenue Generating:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.revenueGenerating}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <strong>Revenue:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.revenue}}</p>
        </div>
    </div>
</div>
<!-- Process Table-->
<div ng-controller="processCtrl" ng-init="getProcesses()">
    <form class="form-inline justify-content-end mb-3">
        <label for="search" class="mr-sm-2">Search:</label>
        <input type="text" id="search" ng-model="search" class="form-control">
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>RTO</th>
                <th>Date Modified</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="x in processes">
            <td>{{ $index + 1 }}</td>
            <td><a href="#">{{ x.name }}</a></td>
            <td>{{ x.rto }}</td>
            <td>{{ x.dateModified | date:'MMM d, y h:mm a'}}</td>
            <td>
                <div class="dropdown">
                    <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu dropdown-content">
                        <li><a data-target="#addEditDepartment" data-toggle="modal" ng-click="">Edit</a></li>
                        <li><a data-target="#deleteModal" data-toggle="modal">Delete</a></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>

