<!-- Breadcrumbs-->
<ol class="breadcrumb mb-2 arr-bread">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/#/departments">Departments</a>
    </li>
    <li class="breadcrumb-item active">Processes</li>
</ol>
<!-- Department Details-->
<div class="ml-3 mb-3">
    <h4 class="mb-3">{{department.name}}</h4>
    <div class="row">
        <div class="col-auto">
            <strong>Description:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <strong>Revenue Generating:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.revenueGenerating}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <strong>Revenue:</strong>
        </div>
        <div class="col-lg-auto pl-lg-0">
            <p class="mb-0">{{department.revenue}}</p>
        </div>
    </div>
</div>
<div class="card mb-3" ng-controller="processCtrl" ng-init="getProcessList()">
    <div class="card-body">
        <!-- Title-->
        <h5 class="text-muted ml-3">{{pageTitle}}</h5>
        <!-- Information Div-->
        <div class="alert alert-dismissible alert-success" ng-show="showMessageAlert">
            <strong>{{message}}</strong>
        </div>
        <!-- CRUD Actions-->
        <form class="form-inline m-3">
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-show="showNew"
                    ng-click="redirectToCreate()">
                <span class="fa fa-plus mr-2"></span>New
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    data-target="#addEditProcess"
                    data-toggle="modal"
                    ng-show="showEdit"
                    ng-click="editDepartment()">
                <span class="fa fa-edit mr-2"></span>Edit
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary"
                    ng-show="showDelete"
                    data-target="#deleteModal"
                    data-toggle="modal">
                <span class="fa fa-remove mr-2"></span>Delete
            </button>
            <label for="search" class="ml-auto mr-2">Search:</label>
            <input type="text" id="search" ng-model="search" class="form-control form-control-sm">
        </form>
        <!-- Process Table-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>RTO</th>
                    <th>Date Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="x in processes">
                <td>{{ $index + 1 }}</td>
                <td><a href="#">{{ x.name }}</a></td>
                <td>{{ x.rto }}</td>
                <td>{{ x.dateModified | date:'MMM d, y h:mm a'}}</td>
                <td>
                    <div class="dropdown">
                        <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown"></span>
                        <ul class="dropdown-menu dropdown-content">
                            <li><a data-target="#addEditDepartment" data-toggle="modal" ng-click="">Edit</a></li>
                            <li><a data-target="#deleteModal" data-toggle="modal">Delete</a></li>
                            <li><a href="#">Details</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <p>{{recordsError}}</p>
    </div>
</div>