<!-- Breadcrumbs-->
<ol class="breadcrumb mb-2 arr-bread">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item active">{{pageTitle}}</li>
</ol>
<!-- Content-->
<div class="card mb-3">
    <div class="card-body">
        <!-- Information Div-->
        <div class="alert alert-dismissible alert-success" ng-show="showMessageAlert">
            <strong>{{message}}</strong>
        </div>
        <h5 class="text-muted ml-3">{{pageTitle}}</h5>
        <div class="loader" ng-if="showLoader"></div>
        <!-- Department Table-->
        <form class="form-inline m-3">
            <button type="button" class="btn btn-sm btn-outline-secondary mr-1" ng-show="showNew" data-target="#addEditDepartment" data-toggle="modal" ng-click="resetRowSelect()"><span class="fa fa-plus mr-2"></span>New</button>
            <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-target="#addEditDepartment" data-toggle="modal" ng-show="showEdit" ng-click="editDepartment()"><span class="fa fa-edit mr-2"></span>Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" ng-show="showDelete" data-target="#deleteModal" data-toggle="modal"><span class="fa fa-remove mr-2"></span>Delete</button>
            <label for="search" class="ml-auto mr-2">Search:</label>
            <input type="text" id="search" ng-model="search" class="form-control form-control-sm">
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-model="checkboxes.checked" id="select_all" /></th>
                    <th>#</th>
                    <th class="sort" ng-click="sort('name')">
                        Name
                        <span class="fa fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-angle-up':reverse,'fa fa-angle-down':!reverse}"></span>
                    </th>
                    <th class="sort" ng-click="sort('dateModified')">
                        Date Modified
                        <span class="fa fa-sort" ng-show="sortKey=='dateModified'" ng-class="{'fa fa-angle-up':reverse,'fa fa-angle-down':!reverse}"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="x in departments|orderBy:sortKey:reverse|filter:search" ng-class="{'selected':checkboxes.items[x.departmentID]}" ng-click="onRowClicked(x.departmentID)">
                <td><input type="checkbox" ng-model="checkboxes.items[x.departmentID]" ng-click="$event.stopPropagation();" /></td>
                <td>{{ $index + 1 }}</td>
                <td>
                    <span class="fa fa fa-asterisk new" ng-show="x.departmentID == newDepartment"></span>
                    <a href="/#/departments/edit/{{x.departmentID}}">{{ x.name }}</a>
                </td>
                <td>{{ x.dateModified | date:'MMM d, y h:mm a'}}</td>
                <td>
                    <div class="dropdown">
                        <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown"></span>
                        <ul class="dropdown-menu dropdown-content">
                            <li><a data-target="#addEditDepartment" data-toggle="modal" ng-click="editDepartment()">Edit</a></li>
                            <li><a data-target="#deleteModal" data-toggle="modal">Delete</a></li>
                            <li><a href="#">Details</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <p>{{recordsError}}</p>
    </div>
</div>
<!-- Add Department Modal-->
<div id="addEditDepartment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mr-auto">Add Department</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-form name="myForm">
                    <input type="hidden" class="form-control" ng-model="department.departmentId">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="Name" ng-model="department.name" ng-required="true">
                        <span class="error" ng-show="myForm.Name.$touched && myForm.Name.$error.required">Required!</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" rows="3" ng-model="department.description"></textarea>
                    </div>
                    <fieldset class="form-group">
                        <label for="revenueGenerating">Revenue Generating:</label>
                        <div class="form-check" id="revenueGenerating">
                            <label class="form-check-label">
                                <input type="radio" ng-model="department.revenueGenerating" value="true" ng-checked="department.revenueGenerating == true">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" ng-model="department.revenueGenerating" value="false" ng-checked="department.revenueGenerating == false">
                                No
                            </label>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label class="control-label">Revenue:</label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R</span>
                                </div>
                                <input type="number" class="form-control" id="revenue" ng-model="department.revenue" maxlength="10" aria-label="Amount (to the nearest rand)">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="addDepartment()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Department Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to delete this item?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" data-dismiss="modal" ng-click="deleteDepartment()">Delete</a>
            </div>
        </div>
    </div>
</div>
