@{
    ViewBag.Title = "Organogram";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<div class="row mb-3">
    <div class="col-12">
        <h1>Departments</h1>
    </div>
</div>
<div class="loader" ng-if="showLoader"></div>
<!-- Table-->
<p>
    <button type="button" class="btn btn-outline-success" ng-show="showNew" data-target="#addEditDepartment" data-toggle="modal" ng-click="resetRowSelect()">New</button>
    <button type="button" class="btn btn-outline-info" data-target="#addEditDepartment" data-toggle="modal" ng-show="showEdit" ng-click="editDepartment()">Edit</button>
    <button type="button" class="btn btn-outline-danger" ng-show="showDelete" data-target="#deleteModal" data-toggle="modal">Delete</button>
</p>
@*{{checkboxes.items}}*@
<table class="table table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" ng-model="checkboxes.checked" id="select_all" /></th>
            <th>#</th>
            <th>Name</th>
            <th>Date Modified</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="x in departments" ng-class="{'selected':checkboxes.items[x.departmentID]}" ng-click="onRowClicked(x.departmentID)">
        <td><input type="checkbox" ng-model="checkboxes.items[x.departmentID]" ng-click="$event.stopPropagation();" /></td>
        <td>{{ $index + 1 }}</td>
        <td><a href="#">{{ x.name }}</a></td>
        <td>{{ x.dateModified | date:'medium' }}</td>
        <td>
            <div class="dropdown">
                <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown"></span>
                <ul class="dropdown-menu dropdown-content">
                    <li><a data-target="#addEditDepartment" data-toggle="modal" ng-click="editDepartment()">Edit</a></li>
                    <li><a data-target="#deleteModal" data-toggle="modal">Delete</a></li>
                    <li><a href="#">Details</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<p>{{recordsError}}</p>
<!-- Add Department Modal-->
<div id="addEditDepartment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mr-auto">Add Department</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-form name="myForm">
                    <input type="hidden" class="form-control" ng-model="department.departmentId">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="Name" ng-model="department.name" ng-required="true">
                        <span class="error" ng-show="myForm.Name.$touched && myForm.Name.$error.required">Required!</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" ng-model="department.description" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="revenueGenerating">Revenue Generating:</label>
                        <input type="checkbox" class="form-control" id="revenueGenerating" ng-model="department.revenueGenerating" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="revenue">Revenue:</label>
                        <input type="number" class="form-control" id="revenue" ng-model="department.revenue" maxlength="10">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="addDepartment()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to delete this item?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" data-dismiss="modal" ng-click="deleteDepartment()">Delete</a>
            </div>
        </div>
    </div>
</div>
