<!-- Breadcrumbs-->
<ol class="breadcrumb mb-2 arr-bread">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" ng-click="redirectToDepartmentIndex()">Departments</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" ng-click="redirectToDepartmentDetail()">Processes</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h4>{{process.name}}</h4>
            <p class="mb-0">{{process.description}}</p>
            <p>{{process.location}}</p>
            <h5 class="text-muted">Recovery Details</h5>
            <div>
                <label for="rto">RTO:</label>
                <p class="mb-0 d-inline" id="rto">{{process.rto}}</p>
            </div>
            <div>
                <label for="mtpd">MTPD:</label>
                <p class="mb-0 d-inline" id="mtpd">{{process.mtpd}}</p>
            </div>
            <div>
                <label for="site-dependent">Site Dependent:</label>
                <p class="mb-0 d-inline" id="site-dependent">{{process.siteDependent}}</p>
            </div>
            <div>
                <label for="remote-working">Remote Working:</label>
                <p class="mb-0 d-inline" id="remote-working">{{process.remoteWorking}}</p>
            </div>
            <div>
                <label for="wa-comment">Working Area Comment:</label>
                <p class="mb-0 d-inline" id="wa-comment">{{process.workingAreaComment}}</p>
            </div>
            <hr />
            <h5 class="text-muted">Impact Analysis</h5>
            <div>
                <label for="ops-impact">Operational Impact:</label>
                <p class="mb-0 d-inline" id="ops-impact">{{process.operationalImpact}}</p>
            </div>
            <div>
                <label for="fin-impact">Financial Impact:</label>
                <p class="mb-0 d-inline" id="fin-impact">{{process.financialImpact}}</p>
            </div>
            <h6 class="mt-4">Critical Periods</h6>
            <div>
                <label for="year">Time of Year:</label>
                <p class="mb-0 d-inline" id="year">{{process.criticalTimeYear}}</p>
            </div>
            <div>
                <label for="month">Time of Month:</label>
                <p class="mb-0 d-inline" id="month">{{process.criticalTimeMonth}}</p>
            </div>
            <div>
                <label for="day">Time of Day:</label>
                <p class="mb-0 d-inline" id="day">{{process.criticalTimeDay}}</p>
            </div>
            <div>
                <label for="ct-comment">Critical Time Comment:</label>
                <p class="mb-0 d-inline" id="ct-comment">{{process.criticalTimeComment}}</p>
            </div>
            <hr />
            <h5 class="text-muted">Additional Information</h5>
            <div>
                <label for="sop">SOP:</label>
                <p class="mb-0 d-inline" id="sop">{{process.sop}}</p>
            </div>
            <div>
                <label for="sop">SOP:</label>
                <p class="mb-0 d-inline" id="sop">{{process.sop}}</p>
            </div>
            <div>
                <label for="sop-comment">SOP Comment:</label>
                <p class="mb-0 d-inline" id="sop-comment">{{process.sopComment}}</p>
            </div>
            <div>
                <label for="sla">SLA:</label>
                <p class="mb-0 d-inline" id="sla">{{process.sla}}</p>
            </div>
            <div>
                <label for="sla-comment">SLA Comment:</label>
                <p class="mb-0 d-inline" id="sla-comment">{{process.slaComment}}</p>
            </div>
        </div>
        <div class="col-8">
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-click="redirectToApplicationsIndex(process.processID)">
                <span class="fa fa-laptop mr-2"></span>Applications
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-click="redirectToSkillsIndex(process.processID)">
                <span class="fa fa-users mr-2"></span>Skills
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-click="redirectToThirdPartiesIndex(process.processID)">
                <span class="fa fa-handshake-o mr-2"></span>Third Parties
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-click="redirectToDocumentsIndex(process.processID)">
                <span class="fa fa-file-archive-o mr-2"></span>Documents
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary mr-1"
                    ng-click="redirectToEquipmentsIndex(process.processID)">
                <span class="fa fa-wrench mr-2"></span>Equipment
            </button>          
        </div>
    </div>
</div>



