<!-- Breadcrumbs-->
<ol class="breadcrumb mb-2 arr-bread">
    <li class="breadcrumb-item">
        <a href="/#/dashboard">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" ng-click="redirectToDepartmentIndex()">Departments</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" ng-click="redirectToDepartmentDetail()">Processes</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
</ol>
<h5 class="ml-3">Edit Process</h5>
<!-- Forms-->
<div class="row">
    <!-- Process General Form-->
    <div class="col-sm-12 col-lg my-2">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <h5 class="text-muted">General</h5>
                            <ul class="nav panel_toolbox ml-auto">
                                <li>
                                    <a href=""
                                       class="fa fa-chevron-up"
                                       ng-click=""
                                       ng-class=""
                                       data-toggle="collapse"
                                       data-target="#processGeneral" aria-expanded="true"
                                       aria-controls="processGeneral">
                                    </a>
                                </li>
                                <li><a href="#" class="fa fa-close"></a></li>
                            </ul>
                        </div>
                        <hr />
                        <form class="form-group collapse show" name="processGeneral" id="processGeneral">
                            <input type="hidden" class="form-control" ng-model="process.processID">
                            <div class="form-group required">
                                <label class="col-form-label" for="name">Name:</label>
                                <input type="text" class="form-control" id="name" ng-model="process.name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" rows="3" ng-model="process.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="location">Location:</label>
                                <input type="text" class="form-control" id="location" ng-model="process.location">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-info" ng-click="clearProcessGeneral()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recovery Details Form-->
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <h5 class="text-muted">Recovery Details</h5>
                            <ul class="nav panel_toolbox ml-auto">
                                <li>
                                    <a href=""
                                       class="fa fa-chevron-up"
                                       ng-click=""
                                       ng-class=""
                                       data-toggle="collapse"
                                       data-target="#recoveryDetails" aria-expanded="true"
                                       aria-controls="recoveryDetails">
                                    </a>
                                </li>
                                <li><a href="#" class="fa fa-close"></a></li>
                            </ul>
                        </div>
                        <hr />
                        <form class="form-group collapse show" name="recoveryDetails" id="recoveryDetails">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label" for="rto">RTO:</label>
                                    <input type="text" class="form-control" id="rto" ng-model="process.rto">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label" for="mtpd">MTPD:</label>
                                    <input type="text" class="form-control" id="mtpd" ng-model="process.mtpd">
                                </div>
                            </div>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="process.siteDependent">
                                        Site Dependent?
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="process.remoteWorking">
                                        Remote Working  Possible?
                                    </label>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="wsComment">Comment:</label>
                                <textarea class="form-control" id="wsComment" rows="3" ng-model="process.workingAreaComment"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-info" ng-click="clearRecoveryDetails()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg my-2">
        <!-- Impact Analysis Form-->
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <h5 class="text-muted">Impact Analysis</h5>
                            <ul class="nav panel_toolbox ml-auto">
                                <li>
                                    <a href=""
                                       class="fa fa-chevron-up"
                                       ng-click=""
                                       ng-class=""
                                       data-toggle="collapse"
                                       data-target="#impactAnalysis" aria-expanded="true"
                                       aria-controls="impactAnalysis">
                                    </a>
                                </li>
                                <li><a href="#" class="fa fa-close"></a></li>
                            </ul>
                        </div>
                        <hr />
                        <form class="form-group collapse show" name="impactAnalysis" id="impactAnalysis">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-form-label" for="operationalImpact">Operational Impact:</label>
                                    <select class="form-control" id="operationalImpact" ng-model="process.operationalImpact">
                                        <option>No Impact</option>
                                        <option>Low</option>
                                        <option>Siginifact</option>
                                        <option>Severe</option>
                                        <option>Catastrophic</option>
                                        <option value="" disabled selected>--Select Impact--</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label" for="financialImpact">Financial Impact:</label>
                                    <select class="form-control" id="financialImpact" ng-model="process.financialImpact">
                                        <option>No Impact</option>
                                        <option>Low</option>
                                        <option>Siginifact</option>
                                        <option>Severe</option>
                                        <option>Catastrophic</option>
                                        <option value="" disabled selected>--Select Impact--</option>
                                    </select>
                                </div>
                            </div>
                            <h6 class="mt-4">Critical Periods</h6>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="col-form-label" for="year">Year:</label>
                                    <input type="text" class="form-control" id="year" ng-model="process.criticalTimeYear">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-form-label" for="month">Month:</label>
                                    <input type="text" class="form-control" id="month" ng-model="process.criticalTimeMonth">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-form-label" for="day">Day:</label>
                                    <input type="text" class="form-control" id="day" ng-model="process.criticalTimeDay">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpComment">Comment:</label>
                                <textarea class="form-control" id="cpComment" rows="3" ng-model="process.criticalTimeComment"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-info" ng-click="clearImpactAnalysis()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Additional Information Form-->
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-inline">
                            <h5 class="text-muted">Additional Information</h5>
                            <ul class="nav panel_toolbox ml-auto">
                                <li>
                                    <a href=""
                                       class="fa fa-chevron-up"
                                       ng-click=""
                                       ng-class=""
                                       data-toggle="collapse"
                                       data-target="#additionalInformation" aria-expanded="true"
                                       aria-controls="additionalInformation">
                                    </a>
                                </li>
                                <li><a href="#" class="fa fa-close"></a></li>
                            </ul>
                        </div>
                        <hr />
                        <form class="form-group collapse show" name="additionalInformation" id="additionalInformation">
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="process.sop">
                                        Has Documented Standard Operating Procedures?
                                    </label>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="sopComment">Comment:</label>
                                <textarea class="form-control" id="sopComment" rows="3" ng-model="process.sopComment"></textarea>
                            </div>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" ng-model="process.sla">
                                        Linked to Service Level Agreement?
                                    </label>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="slaComment">Comment:</label>
                                <textarea class="form-control" id="slaComment" rows="3" ng-model="process.slaComment"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-info" ng-click="clearAdditionalInformation()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="form-group">
            <button type="submit" class="btn btn-secondary" ng-click="redirectToDepartmentDetail()">Cancel</button>
            <button type="submit" class="btn btn-success" ng-click="addProcess(process)">Save</button>
        </div>
    </div>
</div>