<div ng-controller="defaultPlanCtrl">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb mb-2 arr-bread">
        <li class="breadcrumb-item">
            <a href="" ng-click="redirectToDashboard()">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="" ng-click="redirectToPlansIndex()">Plans</a>
        </li>
        <li class="breadcrumb-item active">New</li>
    </ol>
    <!-- Plan Template Details-->
    <div class="ml-3 mb-3">
        <h4 class="mb-3">{{defaultPlan.name}}</h4>
        <strong>Type:</strong>
        <p class="mb-0">{{defaultPlan.type}}</p>
        <strong>Description:</strong>
        <p class="mb-0">{{defaultPlan.description}}</p>
    </div>
</div>
<div class="container">
    <p class="lead">Select the department you wish to create a plan for:</p>
    <div class="row">
        <div class="col-sm-4" ng-controller="departmentCtrl">
            <select class="form-control nav-link-text"
                    ng-model="departmentId"
                    ng-change="setSelectedDepartment(departmentId)"
                    ng-options="department.departmentID as department.name for department in departments">
                <option value="" disabled selected>--Select Department--</option>
            </select>
        </div>
        <button class="btn btn-success" ng-click="addPlan()">Create Plan</button>
    </div>
</div>



<div class="container-fluid" ng-controller="stepCtrl">
    <div class="card my-3">
        <div class="card-body">
            <!-- Information Div-->
            <div class="alert alert-dismissible alert-success" ng-show="showMessageAlert">
                <strong>{{message}}</strong>
            </div>
            <div class="form-inline">
                <h5 class="text-muted">{{pageTitle}}</h5>
                <ul class="nav panel_toolbox ml-auto">
                    <li class="dropdown">
                        <a href="" class="fa fa-wrench" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu dropdown-content">
                            <li>
                                <a href="" data-target="#import-modal" data-toggle="modal">Import</a>
                            </li>
                            <li>
                                <a href="">Export</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" class="fa fa-close"></a></li>
                </ul>
            </div>
            <div class="loader" ng-if="showLoader"></div>
            <!-- CRUD Actions-->
            <div class="container-fluid">
                <div class="row">
                    <div class="form-inline m-3">
                        <button type="button"
                                class="btn btn-sm btn-outline-secondary mr-1"
                                ng-show="showNew"
                                ng-click="resetRowSelect()"
                                data-toggle="modal"
                                data-target="#addEditDepartment">
                            <span class="fa fa-plus mr-2"></span>New
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-outline-secondary mr-1"
                                ng-show="showEdit"
                                ng-click="editStep()"
                                data-toggle="modal"
                                data-target="#addEditModal">
                            <span class="fa fa-edit mr-2"></span>Edit
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-outline-secondary"
                                ng-show="showDelete"
                                data-toggle="modal"
                                data-target="#deleteModal">
                            <span class="fa fa-remove mr-2"></span>Delete
                        </button>
                    </div>
                    <div class="form-inline ml-auto col-sm-auto mb-3 mb-sm-0">
                        <label for="search" class="mr-2">Search:</label>
                        <input type="text" id="search" ng-model="search" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <!-- Step Table-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="checkboxes.checked" id="select_all" /></th>
                        <th class="sort" ng-click="sort('title')">#</th>
                        <th>Title</th>
                        <th class="hide">Summary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in defaultSteps|orderBy:sortKey:reverse|filter:search"
                        ng-click="onRowClicked(x.stepID)"
                        ng-class="{'selected':checkboxes.items[x.stepID]}">
                        <td>
                            <input type="checkbox" ng-model="checkboxes.items[x.stepID]"
                                   ng-click="$event.stopPropagation();" />
                        </td>
                        <td>{{x.number}}</td>
                        <td>{{x.title}}</td>
                        <td class="hide">{{x.summary}}</td>
                        <td>
                            <div class="dropdown">
                                <span class="fa fa-ellipsis-v row-options" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-content">
                                    <li>
                                        <a data-target="#addEditDepartment" data-toggle="modal" ng-click="editStep(x.stepID)">Edit</a>
                                    </li>
                                    <li>
                                        <a data-target="#deleteModal" data-toggle="modal">Delete</a>
                                    </li>
                                    <li>
                                        <a href="#">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>                  
                </tbody>
            </table>
            <p>{{recordsError}}</p>
        </div>
    </div>
</div>